main {
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  margin-top: 20px;
}

.paragraph p+h2 {
  margin-top: 40px;
}

.paragraph p+h3 {
  margin-top: 15px;
}