/* 検証用 すべてのボーダーを赤に設定 */
/* *{border:solid 1px red;} */

body {
  font-family: 'Noto Sans JP', sans-serif;
  background: #1b5aad;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing : border-box;
}

.sp {
  display: none;
}

main {
  display: block;
  margin-top: 100px;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .pc {
    display: none !important;
  }
}