button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 3px;
  color: #fff;
  margin-left: 5px;
  padding: 4px 16px;
  font-size: 12px;
  height: 32px;
}

button:hover {
  opacity:0.8;
}

button:active  {
  -webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
}