.buttonImage {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
}

.buttonImage:hover {
  opacity:0.8;
}

.buttonImage:active  {
  -webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
}

.buttonImage img {
  display: block;
  width: 18px;
  height: 18px;
}