.footer {
  display: flex;
  height: 34px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  border-top: 1px solid #00000020;
}

.footer > div {
  font-size: 12px;
  margin-right: auto;
}

.warning {
  color: #ff0000;
  font-weight: bold;
  font-size: 13px;
}
